/* Universal Selectors */
*{box-sizing: border-box;}

/* Page Colors */
:root{
--light: #92bbe1; 
--dark: #1e3040;
--backlight: #e7e7e7;
--bgwords: #646d74;
--bglight: #b3e0ea;
}


body{
    margin: 1;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--dark);
    background-color: var(--backlight);
    line-height: 1.25;
}

header{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 15px 20px 15px 0;
}

header h1{
color: var(--dark);
background-color: var(--light);
padding: 1px 3% 5px 3%;
margin: 0;
font-size: 4vw;
line-height: 1;
}   



nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
}

nav a{
    text-decoration:none;
    padding: 5px 10px;
    color:var(--light);
    margin-right: 8px;
    background-image: linear-gradient(0deg, var(--light) 0%, var(--light) 100%);
    background-repeat: no-repeat;
    background-size: 100% .20em;
    background-position: bottom;
    transition:all .3s ease-in;
    font-size: 2vw;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark);
}


.hero-image{
    background: #ececec;
    background-image: url("../images/black-sand.jpg");
    background-size: cover;
    min-height: 35vh;
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: center;


}

.hero-image h2{
    font-size: 30px;
    background-color: var(--light);
    color: var(--dark); 
    padding: 1px 5px;
    line-height: 2;
    display:inline;
    padding: 2;
}

.profile-pic{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 60%;
    width:290px;
    height: 275px;
}

#border-pic{
    border:10px solid var(--bglight);
    border-radius: 50%;
    padding: 5px;
}


/* parent class selectors */
.page-sidel{
    margin:15px, 5px;
    padding: 20px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

/* all h2 headers with class page sidel */
.page-sidel > h2{
    flex: 0 0 15%;
    text-align: right;
    padding-right: 20px;
    border-right: 5px solid var(--dark);
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
}

/* applies to all div with class page sidel */
.page-sidel > div {
    flex: 0 0 80%;

}

.page-sidel p {
margin: 30px 40px;
padding: 20px 20px;
font-size:20px;
color: var(--dark);
}

/* flex properties for work pictures */

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-pics{
    display:flex;
    align-items: flex-end;
    min-height: 250px;
    max-height: 350px;
    flex-basis: calc(50% - 40px);
    background-size: 100%;
    margin: 20px;
    padding: 5px 5px 20px 0; 
    text-decoration: none;
    border: 6px solid var(--bglight);
    color: var(--bgwords);
    transition: all 0.5s;
    background-blend-mode: soft-light;
    background-color: var(--bgwords)
}

.flex-pics:first-child{
    min-height:400px;
    flex-basis: 100%;
}

.flex-pics div {
    background-color: var(--bglight);
    padding: 15px 10px;

}

.flex-pics:hover {
    background-color: rgba(30,48,64,0.2);
}
/* work section pictures */
.Project1{
    background-image: url("../images/black-sand-beachc.jpg");
}

.Project2{
    background-image: url("../images/driftwood.jpg");
}

.Project3{
    background-image: url("../images/purple-palm.jpg");
}

.Project4{
    background-image: url("../images/gray-rocks.jpg");
}

.Project5{
    background-image: url("../images/sandy-beach.jpg");
}

/* Contact Section */
.page-sidel address{   
display:flex;
flex: wrap;
justify-content: space-between;
align-items: center;
height: 200px;
}

.page-sidel address a{
    text-decoration:none;
    padding: 5px 20px;  
    color:var(--dark);
    margin-right: 30px;
    background-image: linear-gradient(0deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% .20em;
    background-position: bottom;
    transition:all .3s ease-in;
    font-size: 25px;
}

.page-sidel address a:hover{
    background-size: 100% 100%;
    color:var(--bglight);
}

/* to do add all media query information */

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }
}