/* Universal Selectors */
*{box-sizing: border-box;}

/* Page Colors */
:root{
--light: #92bbe1; 
--dark: #1e3040;
--backlight: #ececec;
}


body{
    margin: 1;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--dark);
    background-color: var(--backlight);
    line-height: 1.25;
}

header{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3040;
    padding: 15px 20px 15px 0;
}

header h1{
color:#1e3040;
background-color: #92bbe1;
padding: 1px 3% 5px 3%;
margin: 0;
font-size: 4vw;
line-height: 1;
}   



nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
}

nav a{
    text-decoration:none;
    padding: 5px 10px;
    color:#92bbe1;
    margin-right: 8px;
    background-image: linear-gradient(0deg, #92bbe1 0%, #92bbe1 100%);
    background-repeat: no-repeat;
    background-size: 100% .20em;
    background-position: bottom;
    transition:all .3s ease-in;
    font-size: 2vw;
}

nav a:hover {
    background-size: 100% 100%;
    color: #1e3040;
}


.hero-image{
    background: #ececec;
    background-image: url("../images/black-sand.jpg");
    background-size: cover;
    min-height: 35vh;
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: center;


}

.hero-image h2{
    font-size: 30px;
    background-color: #92bbe1;
    color: #1e3040; 
    padding: 1px 5px;
    line-height: 2;
    display:inline;
    padding: 2;
}

.profile-pic{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 50%;
    width:290px;
    height: 275px;
}

#border-pic{
    border:10px solid #92bbe1;
    border-radius: 50%;
    padding: 5px;
}


/* parent class selectors */
.page-sidel{
    margin:15px, 5px;
    padding: 20px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

/* all h2 headers with class page sidel */
.page-sidel > h2{
    flex: 0 0 15%;
    text-align: right;
    padding-right: 20px;
    border-right: 5px solid #1e3040;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
}

/* applies to all div with class page sidel */
.page-sidel > div {
    flex: 0 0 80%;

}

.page-sidel p {
margin-bottom: 20px;
}

.page-sidel address{   
display:flex;
flex: wrap;
justify-content: space-between;
align-items: center;
height: 200px;
}

.page-sidel address a{
    text-decoration:none;
    padding: 5px 20px;  
    color:#1e3040;
    margin-right: 30px;
    background-image: linear-gradient(0deg, #1e3040 0%, #1e3040 100%);
    background-repeat: no-repeat;
    background-size: 100% .20em;
    background-position: bottom;
    transition:all .3s ease-in;
    font-size: 25px;
}

.page-sidel address a:hover{
background-size: 100% 100%;
color:#92bbe1;
}

/* work section pictures */
.Project1{
    
}